.side-menu {
  & {
    display: flex;
    display: -webkit-flex;
    width: 100%;
    height: 100%;
    padding: 0 3%;
    align-items: center;
    justify-content: center;
  }
  &--item {
    & {
      flex: 1 1 auto;
      cursor: pointer;
    }
    & .mdi {
      padding: 11px;
      text-align: center;
    }
    & .mdi:before {
      color: #637382;
      transition: .2s ease-in-out;
      -webkit-transition: .2s ease-in-out;
    }
    &:hover .mdi:before {
      color: #ffffff;
      transition: .1s ease-in-out;
      -webkit-transition: .1s ease-in-out;
    }
    &.active .mdi {
      border-bottom: 2px solid #00D3EE;
    }
    &.active .mdi:before {
      color: #ffffff;
    }
  }

}
