.side {
  &-menu {
    & {
      display: flex;
      display: -webkit-flex;
      width: 100%;
      height: 100%;
      padding: 0 3%;
      align-items: center;
      justify-content: center;
    }
    &--item {
      & {
        flex: 1 1 auto;
        cursor: pointer;
        outline: none;
      }
      & .mdi {
        padding: 11px;
        text-align: center;
        border-bottom: 2px solid transparent;
        transition: .2s ease-in-out;
        -webkit-transition: .2s ease-in-out;
      }
      & .mdi:before {
        color: #637382;
        transition: .2s ease-in-out;
        -webkit-transition: .2s ease-in-out;
      }
      &:hover .mdi:before {
        color: #ffffff;
        transition: .1s ease-in-out;
        -webkit-transition: .1s ease-in-out;
      }
      &.active .mdi {
        border-bottom: 2px solid #00D3EE;
      }
      &.active .mdi:before {
        color: #ffffff;
      }
    }
  }

  &-content {
    & {
      display: none;
    }
    &.active {
      display: block;
    }
    &--item {
      position: relative;
      display: flex;
      display: -webkit-flex;
      align-items: center;
      width: 100%;
      height: 80px;
      padding: 3%;
      border-bottom: 1px solid #2c3a48;
      transition: .2s ease-in-out;
      -webkit-transition: .2s ease-in-out;
      cursor: pointer;
      outline: none;
    }
    &--item:hover {
      background: rgb(255 255 255 / 5%)
    }
    &--item.active {
      background: #2f4051;
      box-shadow: 0 0 20px 0 #1a232c;
    }
    &--avatar {
      & {
        display: flex;
        width: 50px;
        height: 50px;
        display: -webkit-flex;
        align-items: center;
        justify-content: center;
        border: 1px solid rgb(255 255 255 / 20%);
        border-radius: 50%;
        margin-right: 4%;
      }
      & .mdi:before {
        font-size: 30px;
        color: #637382;
        transition: .2s ease-in-out;
        -webkit-transition: .2s ease-in-out;
      }
    }
    &--group {
      & {
        width: 80%;
      }
      &-head {
        p {
          font-size: 16px;
          line-height: 20px;
          font-weight: 500;
          padding: 2px 0;
          color: #ffffff;
        }
        p.small {
          font-size: 14px;
          line-height: 18px;
        }
      }
      &-message {
        p {
          font-size: 12px;
          line-height: 14px;
          color: #ffffff;
        }
      }
    }
  }


  &-event {
    & {
      display: flex;
      display: -webkit-flex;
      width: 100%;
      height: 100%;
      padding: 0 3%;
      align-items: center;
    }
    &--item {
      & {
        display: flex;
        display: -webkit-flex;
        align-items: center;
        cursor: pointer;
      }
      & p {
        color: #637382;
        transition: .2s ease-in-out;
        -webkit-transition: .2s ease-in-out;
      }
      & .mdi {
        padding: 10px;
        text-align: center;
      }
      & .mdi:before {
        color: #637382;
        transition: .2s ease-in-out;
        -webkit-transition: .2s ease-in-out;
      }
      &:hover p,
      &:hover .mdi:before {
        color: #ffffff;
        transition: .1s ease-in-out;
        -webkit-transition: .1s ease-in-out;
      }
    }

  }

}


