// **************************
// CTA
// **************************
$ctaDefault: #009EB3;
$ctaDefault-hover: #02BCD4;
$ctaDefault-event: #00D3EE;
$ctaMinor: #565A61;
$ctaMinor-hover: #7F8286;
$ctaMinor-border: #6A747B;
$ctaHelper: #848F99;

// **************************
// Text
// **************************
$txtDefault: #000000;
$txtDark: #282E36;
$txtDisabled: #D7DBDE;

// **************************
// Indicator
// **************************
$indSuccess: #93BB59;
$indWarning: #FAAC00;
$indMiddle: #FFD964;
$indError: #DE565A;

// **************************
// Table
// **************************
$tableHeadingText: #ACB6BC;
