// **************************
// Headings
// **************************
$H1FontSize: 36px;
$H1LineHeight: 40px;

$H2FontSize: 30px;
$H2LineHeight: 36px;

$H3FontSize: 24px;
$H3LineHeight: 32px;

$H4FontSize: 18px;
$H4LineHeight: 26px;

$H5FontSize: 16px;
$H5LineHeight: 24px;

// **************************
// Base text
// **************************
$BaseFontSizeSm: 12px;
$BaseLineHeightSm: 16px;

$BaseFontSizeMd: 14px;
$BaseLineHeightMd: 18px;

//$BaseFontSizeLg: 16px;
//$BaseLineHeightLg: 20px;
$BaseFontSizeLg: 14px;
$BaseLineHeightLg: 20px;
