.pg {
  &-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 4%;
    background: linear-gradient(#3a4958, #23303e);
    overflow: auto;
  }

  &-wrapper {
    position: absolute;
    display: flex;
    width: 90%;
    min-width: 980px;
    max-width: 1100px;
    height: 90%;
    min-height: 700px;
    max-height: 900px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 15px 0 #1a232c;
    border-radius: 10px;
    overflow: hidden;
  }

  &-side {
    & {
      position: relative;
      width: 30%;
      height: 100%;
      top: 0;
      left: 0;
      background: linear-gradient(#24313f, #314459);
      overflow-x: scroll;
      overflow-y: hidden;
      z-index: 9;
    }
    &--event {
      position: relative;
      width: 100%;
      height: 50px;
      top: 0;
      left: 0;
      border-bottom: 1px solid #2c3a48;
    }
    &--view {
      position: relative;
      width: 100%;
      height: calc(100% - 100px);
      top: 0;
      left: 0;
    }
    &--menu {
      position: absolute;
      width: 100%;
      height: 50px;
      left: 0;
      bottom: 0;
      background: #3d5063;
      box-shadow: 0 0 15px -5px #1a232c;
    }
  }

  &-content {
    position: relative;
    width: 70%;
    height: 100%;
    background: #f5f9fd;
    z-index: 7;
  }
}
