.ui-animate {
  &-blur {
    @include animation-name(blur);
    @include animation-duration(.2s);
    @include animation-timing-function(linear);
    @include animation-fill-mode(both);
    transition-property: all;
  }
}

@include keyframes(blur) {
  from {
    filter: blur(0);
    -webkit-filter: blur(0);
  }
  to {
    filter: blur(5px);
    -webkit-filter: blur(5px);
  }
}
