.ui-animate {
  &-fade-in {
    @include animation-name(fadeIn);
    @include animation-duration(.15s);
    @include animation-timing-function(ease-in-out);
    @include animation-fill-mode(both);
    transition-property: all;
  }
  &-fade-in-slow {
    @include animation-name(fadeIn);
    @include animation-duration(.4s);
    @include animation-timing-function(ease-in-out);
    @include animation-fill-mode(both);
    transition-property: all;
  }
  &-fade-out {
    @include animation-name(fadeOut);
    @include animation-duration(.15s);
    @include animation-timing-function(ease-in-out);
    @include animation-fill-mode(both);
    transition-property: all;
  }
}

@include keyframes(fadeIn) {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@include keyframes(fadeOut) {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
